<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page12.css">
    <title>Page 12</title>
</head>
<body>
    <header>
        <pre><h1>Discover. 
Explore. 
Inspire.</h1></pre>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        <a href="#">Explore</a>
    </header>
    <img src="../src/storage/img/page12-google-deepmind-2EpKCoEgKZo-unsplash.jpg">
    <main>
        <div class="images">
            <img src="../src/storage/img/page12-google-deepmind-Snqm29dhfOk-unsplash.jpg">
            <img src="../src/storage/img/page12-google-deepmind-E301rX-2CeQ-unsplash.jpg">
        </div>
        <div class="text">
            <img src="../src/storage/img/page12-sergio-de-paula-c_GmwfHBDzk-unsplash.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        </div>
    </main>
    <!-- <img src="../src/storage/img/page12-Dawn (1).png">
    <img src="../src/storage/img/page12-Dawn.png">
    <img src="../src/storage/img/page12-Spiral-3.png">
    <img src="../src/storage/img/page12-shape wave.png"> -->
</body>
</html>