<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page10.css">
    <title>Page 10</title>
</head>
<body>
    <header>
        <h1>Design.</h1>
        <h1>Create.</h1>
        <h1>Inspire.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        <a href="#">Explore</a>
    </header>
    <main>
        <img src="../src/storage/img/page10-1.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-2.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-3.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-4.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-5.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-6.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-7.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-8.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-image-9.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-image-10.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-image-11.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-image-12.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-image-13.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-image-14.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-image-15.jpg" alt="Page 10">
        <img src="../src/storage/img/page10-image-16.jpg" alt="Page 10">
    </main>
</body>
</html>