<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page2.css">
    <title>Page 2</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>Discover the beauty around the world</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
            <a href="#">Get Started</a>
        </div>
        <img src="../src/storage/img/image-1.jpg" alt="Page 2">
        <img src="../src/storage/img/image-2.jpg" alt="Page 2">
    </header>
    <main>
        <div class="image-1">
            <p>01</p>
            <img src="../src/storage/img/image-3.jpg" alt="Page 2">
        </div>
        <div class="image-2">
            <p>02</p>
            <img src="../src/storage/img/image-4.jpg" alt="Page 2">
        </div>
        <div class="image-3">
            <p>03</p>
            <img src="../src/storage/img/image-5.jpg" alt="Page 2">
        </div>
    </main>
</body>
</html>