<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page9.css">
    <title>Page 9</title>
</head>
<body>
    <header>
        <h1>Interior design</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        <a href="#">Explore</a>
    </header>
    <main>
        <div>
            <p>5.8</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        </div>
        <div>
            <p>99+</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        </div>
        <div>
            <p>110K</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        </div>
    </main>
    <img src="../src/storage/img/page9-linh-le-a0rE64YJDA4-unsplash.jpg">
    <img src="../src/storage/img/page9-suhyeon-choi-ZUS1xCxoQCA-unsplash.jpg">
</body>
</html>