<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page7.css">
    <title>Page 7</title>
</head>
<body>
    <header>
        <h1>Design is the way how you express the feelings</h1>
    </header>
    <main>
        <div>
            <p>01</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/page7-image-1.jpg" alt="Page 2">
            <div class="text-image">
                <p>Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div>
        </div>
        <div>
            <p>02</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/page7-image-2.jpg" alt="Page 2">
            <div class="text-image">
                <p>Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div>
        </div>
        <div>
            <p>03</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/page7-image-3.jpg" alt="Page 2">
            <div class="text-image">
                <p>Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div>
        </div>
        <div>
            <p>04</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/page7-image-4.jpg" alt="Page 2">
            <div class="text-image">
                <p>Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div>
        </div>
    </main>
</body>
</html>