<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page23.css">
    <title>Page 23</title>
</head>
<body>
    <img src="../src/storage/img/page23-fondo.jpg" alt="Page 23 Image 1">
    <header>    
        <h1>DESIGN THE FUTURE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate. Faucibus nec gravida ipsum pulvinar vel non dui.</p>
        <a href="#">Get started</a>
    </header>
    <main>
        <div>
            <p>01</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
            <p>02</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
            <p>03</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </main>    
</body>
</html>