<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page11.css">
    <title>Page 11</title>
</head>
<body>
    <header> 
        <pre><h1>New designs  
New inspirations</h1></pre>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        <a href="#">Explore</a>
    </header>
    <section class="image-content">
        <div class="image-content-text">
            <img src="../src/storage/img/page11-iamge1.jpg" alt="">
            <img src="../src/storage/img/page11-image-2.jpg" alt="">
        </div>
    </section>
    <main>
        <div>
            <img src="../src/storage/img/page11-Cloud.png" alt="">
            <p>Title 1</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
            <img src="../src/storage/img/page11-Cloud.png" alt="">
            <p>Title 2</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
            <img src="../src/storage/img/page11-Cloud.png" alt="">
            <p>Title 3</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </main>      
</body>
</html>