<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 6</title>
    <link rel="stylesheet" href="../src/css/page6.css">
</head>
<body>
    
    <header>
        <img src="../src/storage/img/page6-circle.png" alt="Logo">
        <h1>THE eWatch with the newest microchip technology</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        <div class="button-container-1">
            <a href="#">Order Now</a>
            <a href="#">Explore More</a>
        </div>
        <section class="feature-section">
            <div class="button-container">
                <img src="../src/storage/img/page6-sun.png" alt="Feature Section Image">
                <p>Lorem ipsu dolor amet</p>
            </div>
            <div class="button-container">
                <img src="../src/storage/img/page6-star.png" alt="Feature Section Image">
                <p>Lorem ipsu dolor amet</p>
            </div>
            <div class="button-container">
                <img src="../src/storage/img/page6-eye.png" alt="Feature Section Image">
                <p>Lorem ipsu dolor amet</p>
            </div>
            <div class="button-container">
                <img src="../src/storage/img/page6-world.png" alt="Feature Section Image">
                <p>Lorem ipsu dolor amet</p>
            </div>
        </section>
    </header>
    <main>
        <img src="../src/storage/img/page6-star-7.png" class="star-7">
        <div class="border-container"></div>
        <img src="../src/storage/img/page6-star-mini.png" class="star-mini">
        <img src="../src/storage/img/main-image.jpg"  class="main-image">
        <img src="../src/storage/img/page6-star-4.png" class="star-4">
        <div class="border-container-1"></div>
        <p class="text-1">Award winning product</p>
        <p class="text-2">Ergonomic design</p>
    </main>
</body>
</html>