@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 64px;
}
header{
    display: flex;
    align-items: flex-start;
    width: 531px;
}
header h1{
    font-family: "avenir-heavy";
    font-size: 88px;
    color: var(--color-16);
    font-weight: normal;
    line-height: 104px;
}
main{
    display: flex;
    align-items: center;
    padding: 69px 0 0 0;
    gap: 56px;
    justify-content: space-between;
}
main div{
    display: flex;
    flex-direction: column;
    width: 400px;
}
main div img{
    width: 400px;
    height: 345px;
    object-fit: cover;
    padding: 24px 0 0 0;
    overflow: hidden;
}
main div .page-number{
    font-family: "avenir-heavy";
    font-size: 32px;
    color: var(--color-19);
}
main div .description{
    font-family: "avenir-roman";
    font-size: 24px;
    color: var(--color-18);
    line-height: 35px;
}
