@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
                         "img1 img2 img3 img4"
                         "img5 img6 img7 img8";
    padding: 64px;
    gap: 16px;
}
header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 48px;
}
header h1{
    width: 610px;
    color: var(--color-1);
    font-size: 60px;
    font-family: "Avenir-Heavy";
    font-weight: bold;
    line-height: 80px;
}
header p{
    width: 610px;
    padding: 10px 0 0;
    font-size: 26px;
    font-family: "avenir-roman";
    color: var(--color-2);
    line-height: 36px;
}
header a{
    background-color: var(--color-1);
    color: var(--color-3);
    font-size: 18px;
    font-family: "avenir-roman";
    border: none;
    border-radius: 16px;
    width: 158px;
    height: 54px;
    margin: 24px 0px 0px;
    font-weight: normal;
    text-decoration: none;
    padding: 18px 48px;  
}

main{
    display: contents;
    align-items: center;
    justify-content: center;   
    gap: 16px;
}
main div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    object-fit: cover;
}
main div img{
    width: 316px;
    height: 288px;
    border-radius: 16px;
    object-fit: cover;
}
main div:nth-child(1){
    grid-area: img1;
}
main div:nth-child(2){
    grid-area: img2;
}
main div:nth-child(3){
    grid-area: img3;
}
main div:nth-child(4){
    grid-area: img4;
}
main div:nth-child(5){
    grid-area: img5;
}
main div:nth-child(6){
    grid-area: img6;
}
main div:nth-child(7){
    grid-area: img7;
}
main div:nth-child(8){
    grid-area: img8;
}