@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../storage/img/page46-fondo.png);
    background-repeat: no-repeat;  
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 0 382px;
    gap: 32px;
}
main h1{
    text-align: center;
    color: var(--color-60);
    font-size: 80px;
    font-family: "Lato-Bold";
    letter-spacing: 1%;
}
main p{
    text-align: center;
    color: var(--color-60);
    font-size: 24px;
    font-family: "Lato-Regular";
    line-height: 32px;
    padding: 0 22px;
}
main a{
    background-color: var(--color-60);
    color: var(--color-61);
    font-size: 22px;
    font-family: "Lato-Medium";
    border-radius: 40px;
    text-decoration: none;
    padding: 24px 56px;    
}

    