@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 30px 15px;
}
ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

ul li a{
    font-family: "Poppins-Regular";
    text-decoration: none;
    font-size: 25px;
    padding: 5px 30px;
    background-color: var(--color-1);
    color: var(--color-3);
    border-radius: 24px;
}

